venv
# backend
/backend/venv/
/backend/db.sqlite3
/backend/backend/__pycache__
/backend

/backend/*.log
/backend/*.pot
/backend/*.pyc

.vscode/*
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json